/*base*/
/*矢量图标*/
@font-face {
    font-family: 'iconfont'; /* project id 41366 */
    src: url('http://at.alicdn.com/t/font_41366_2uh0jrd8fcelv7vi.eot');
    src: url('http://at.alicdn.com/t/font_41366_2uh0jrd8fcelv7vi.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_41366_2uh0jrd8fcelv7vi.woff') format('woff'), url('http://at.alicdn.com/t/font_41366_2uh0jrd8fcelv7vi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_41366_2uh0jrd8fcelv7vi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tl {
    text-align: left;
}
/*浮动*/
.x_display {
    display: inline-block;
    float: left;
}
/* 文字排版 */
.fr1 {
    float: left;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.f50 {
    font-size: 50px;
}

.fb {
    font-weight: bold;
}

.fn {
    font-weight: normal !important;
}

.t2 {
    text-indent: 2em;
}

.lh40 {
    line-height: 40px;
}

.lh150 {
    line-height: 150%;
}

.lh180 {
    line-height: 180%;
}

.lh200 {
    line-height: 200%;
}

.unl {
    text-decoration: underline;
}

.no_unl {
    text-decoration: none;
}
/* 文字颜色 */
.zhuse {
    color: #50ace2;
}

.zhuse1 {
    color: #333333;
}

.chise {
    color: #9b9b9b;
}

.c999 {
    color: #999999;
}

.c777 {
    color: #777777 !important;
}

.white {
    color: #ffffff !important;
}

.c000 {
    color: #000 !important;
}

.c666 {
    color: #666 !important;
}

.juse {
    color: #f9906f !important;
}
/* 背景 */
.zhu_bg {
    background: #dca916;
}

.zhu_bg1 {
    background: #f1f1f1;
}

.red {
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 2px 8px;
    background: none;
}

.red1 {
    color: #ff0000;
}

.chengse {
    color: #ff6600;
    border: 1px solid #ff6600;
    padding: 2px 8px;
    background: none;
}

.huangse {
    color: #ffcc00;
    border: 1px solid #ffcc00;
    padding: 2px 8px;
    background: none;
}
/* 边距 */
.nopadding {
    padding: 0;
}

.nopadding_right {
    padding-right: 0;
}

.nomargin_right {
    margin-right: 0 !important;
}

.nopadding_left {
    padding-left: 0;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt100 {
    margin-top: 100px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb65 {
    margin-bottom: 65px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 28px;
}

.ml30 {
    margin-left: 30px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml100 {
    margin-left: 100px !important;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr80 {
    margin-right: 80px;
}

.mr100 {
    margin-right: 100px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p30 {
    padding: 30px;
}

.p20 {
    padding: 20px;
}

.pt3 {
    padding-top: 3px !important;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pt80 {
    padding-top: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb200 {
    padding-bottom: 200px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl25 {
    padding-left: 25px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl50 {
    padding-left: 50px;
}

.pl80 {
    padding-left: 80px;
}

.pl100 {
    padding-left: 100px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr50 {
    padding-right: 50px;
}

.pr100 {
    padding-right: 100px;
}
/*滚动条样式*/
.x_scrool::-webkit-scrollbar  {
width: 8px;
background-color: #F5F5F5;
}
.x_scrool::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ccc;
}
.x_scrool::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
/*================================================================================预约管理—参数设置页面==============================================================*/
#wrapper {
    background: #f1f1f1;
}

.x_table_all .table > thead:first-child > tr:first-child > th {
    color: #666;
    height: 50px;
    background: #e0e0e0;
    padding: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
}

.x_table_all .table-bordered > tbody > tr > td {
    border: 1px solid #eee;
    padding: 10px !important;
    height: 30px;
    vertical-align: middle;
    line-height: 24px;
}

.x_table_all .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fff !important;
}

.x_table_all table.dataTable tbody tr {
    background-color: #f5f5f5 !important;
}

.x_table_all {
    font-size: 16px;
}

    .x_table_all .btn-link {
        color: #50ace2;
        font-size: 16px;
    }

#page-inner {
    min-height: auto !important;
    padding: 20px;
}

button.x_button,button.x_button1 {
    border: 1px solid #f9906f;
    color: #f9906f;
    background: #fff;
    padding: 5px 10px !important;
    font-size: 14px;
    margin: 0px 0 20px 0;
    border-radius: 3px;
}

    button.x_button:hover {
        background: #f9906f!important;
        color: #fff;
        border-clor:#f9906f!important;
    }
button.x_button1 {
    border: 1px solid #50ace2!important;
    color: #fff!important;
    background: #50ace2;
}
.x_tanchuang .xia_title {
    background: #50ace2;
    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 31px;
    font-weight: bold;
}

.x_tanchuang input, .x_tanchuang select, .x_tanchuang textarea {
    width: 300px !important;
}

.x_tanchuang button.btn.btn-sm.x_btn1 {
    border: 1px solid #f9906f;
    color: #f9906f;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    width: 80px;
    height: 24px;
    line-height: 20px;
    background: #fff;
    margin-left: 15px;
}

.x_tanchuang button.btn.btn-sm.x_btn {
    background: #f9906f;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin-right: 15px;
}

.x_tanchuang label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 15px !important;
    color: #666 !important;
}

.x_tanchuang .form_control_bottom {
    margin-bottom: 50px;
}

.x_tanchuang .has-success .form-control {
    border-color: #ccc;
}

    .x_tanchuang .has-success .form-control:focus {
        border-color: #66afe9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #66afe9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #66afe9;
    }

/*layer弹窗样式修改*/
.layui-layer-title {
    background: #50ace2;
    color: #fff;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    /*width: 498px;*/
    text-align: center;
}

.layui-layer-dialog2 {
    min-width: 498px;
}

.layui-layer-btn .layui-layer-btn0 {
    background: #f9906f!important;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin-right: 15px;
    border: 1px solid #f9906f !important;
}
.layui-layer-title {
    background: #50ace2!important;
    font-size: 16px!important;
    color:#fff!important;

}
.layui-layer-dialog2 {
    min-width: 498px!important;
}
.layui-layer-btn .layui-layer-btn1 {
    border: 1px solid #f9906f !important;
    color: #f9906f !important;
    padding: 0 !important;
    text-align: center !important;
    border-radius: 5px !important;
    width: 80px !important;
    height: 24px !important;
    line-height: 20px !important;
    background: #fff !important;
    margin-left: 15px !important;
}

.layui-layer-dialog2 .layui-layer-content2 {
    font-size: 16px!important;
    padding: 40px 30px 40px 30px!important;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.layui-layer-btn {
    text-align: center;
    padding: 0 0 40px 0;
    pointer-events: auto;
}
/*===========================================================================预约管理-预约咨询页面====================================================================*/
.x_tanchuang1 .xia_title {
    background: #50ace2;
    color: #fff;
    font-size: 18px;
    height: 50px !important;
    font-weight: bold;
    line-height: 48px;
}

    .x_tanchuang1 .xia_title.xia_title_small {
        line-height: 31px !important;
    }

.x_tanchuang1 button.btn.btn-sm.x_btn1 {
    border: 1px solid #f9906f;
    color: #f9906f;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    width: 80px;
    height: 24px;
    line-height: 20px;
    background: #fff;
    margin-left: 15px;
}

.x_tanchuang1 button.btn.btn-sm.x_btn {
    background: #f9906f;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    color: #fff !important;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin-right: 15px;
}

.x_tanchuang1 .form-group label {
    margin-top: 5px;
}

.x_tanchuang1 .xia_span {
    width: 34px;
    display: inline-block;
    padding: 8px;
}

.x_tanchuang1 #startDate, .x_tanchuang1 #endDate {
    width: 43%;
    display: inline-block;
    float: left;
}

.x_tanchuang1 input[type="radio"], .x_tanchuang1 input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: sub;
}

.x_tanchuang1 .col-sm-6.col-xs-6 {
    width: 58%;
}

.x_tanchuang1 select {
    outline: none;
}
/*===================================================================预约咨询—个体咨询档案页面=======================================================*/
.x_gtzxda .form-control {
    height: 34px !important;
    border-radius: 3px;
    outline:none;
}

.x_gtda_table .table > thead:first-child > tr:first-child > th {
    background: #e0e0e0;
    color: #666 !important;
    font-size: 16px;
    font-weight: normal;
        height: 35px;
    line-height: 35px;
}

.x_gtda_table .table-bordered > thead > tr > th, .x_gtda_table .table-bordered > tbody > tr > th, .x_gtda_table .table-bordered > tfoot > tr > th, .x_gtda_table .table-bordered > thead > tr > td, .x_gtda_table .table-bordered > tbody > tr > td, .x_gtda_table .table-bordered > tfoot > tr > td {
    border-left: 1px solid #ddd;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

.x_gtda_table table button {
    color: #50ace2;
    font-size: 16px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: 0;
    font-size: 16px;
    padding: 5px 12px;
    background-color: #50ace2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: #50ace2;
    color: #fff;
}
.x_gtzxda label {
font-size:16px;
font-weight:normal;
color:#666
}
.x_gtzxda_tab .form-control {
margin-bottom:20px;
}
.x_gtzxda_tab .nav-tabs-lyj > li.active {
    border: 1px solid #50ace2;
    height:49px;
}
.x_gtzxda_tab .nav-tabs-lyj > li.active > a,.x_gtzxda_tab .nav-tabs-lyj > li.active > a:hover,.x_gtzxda_tab .nav-tabs-lyj > li.active > a:focus {
    color: #50ace2;
    cursor: default;
    background-color: #fff;
    border: 0;
    font-size:18px;
    border-bottom-color: transparent;
}
.x_gtzxda_tab .nav-tabs-lyj {
    border:0;
    border-bottom:1px solid #ddd;
    background-color: #fff;
    height:57px;
}
.x_gtzxda_tab .nav-tabs-lyj > li {
    border: 1px solid #ddd;
    height:49px;
}
.x_gtzxda_tab .nav-tabs-lyj > li > a,.x_gtzxda_tab .nav-tabs-lyj > li > p {
width:200px;
text-align:center;
font-size:18px;
color:#666
}
.x_gtzxda_tab .nav > li > a:hover,.x_gtzxda_tab .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
    outline: none;
    border: 0;
    height: 47px;
}
.x_gtda_form textarea {
resize:none
}
.x_gtda_form .input-sm {
padding:5px!important
}
span.star i {
color:#e7a71c!important;
font-size: 20px;
}
 .rating-container .filled-stars {
    -webkit-text-stroke: #fff;
    text-shadow: none;
}
@media screen and (max-width: 1449px) {
    .x_gtda_table .table > thead:first-child > tr:first-child > th {
    font-size: 14px;
}
    .x_gtda_table .table-bordered > thead > tr > th, .x_gtda_table .table-bordered > tbody > tr > th, .x_gtda_table .table-bordered > tfoot > tr > th, .x_gtda_table .table-bordered > thead > tr > td, .x_gtda_table .table-bordered > tbody > tr > td, .x_gtda_table .table-bordered > tfoot > tr > td {
        font-size: 14px;
    }
    .x_gtda_table table button {
    font-size: 14px;
}
}
